VALHALLA_HOST=valhalla.example.com
VALHALLA_API_TOKEN=
VALHALLA_IMAGE=ghcr.io/gis-ops/docker-valhalla/valhalla@sha256:060da5b92e6024a67f65135c236d918b021d63e73d1808a0d55b7e7cbd17240c
VALHALLA_SERVER_THREADS=4
PBF_URL=https://download.geofabrik.de/europe/germany/berlin-latest.osm.pbf
